name: Run linters

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup-dependencies
      - run: pnpm run lint:md
      - run: pnpm run validate
      - name: Get changed markdown files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files: 'public/**/*.md'
      - name: Run textlint on changed files
        if: steps.changed-files.outputs.any_changed == 'true'
        run: pnpm run lint:text ${{ steps.changed-files.outputs.all_changed_files }}
